
<div class="uk-container uk-container-large">

      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                  <img src="https://getuikit.com/docs/images/light.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title"><%- page.title %></h3>
                  <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00"><%- date(page.date, "YYYY-MM-DD") %></time></p>
                  <p><%- page.content %></p>
              </div>
              <div class="uk-card-footer">
              <a href="#" class="uk-button uk-button-text">Read more</a>
              </div>
          </div>
      </div> 
    </div> 
</div>

