#footer= '版权 © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  本博客由
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo 强力驱动.
  a(rel='nofollow', target='_blank', href='https://github.com/zachchan/Blog/tree/master/themes')  主题
  |  来自
  a(rel='nofollow', target='_blank', href='https://github.com/zachchan/Blog')  ZachChan.

