<div class="uk-section uk-section-primary uk-light">
        <div class="uk-container ">
       
            <h5 >&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> 
      <span><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></span></h5>
    
        </div>
</div>

